body {
  font-family: 'Besley', 'Besley Fallback', 'Times New Roman', serif;
}
html {
  scroll-behavior: smooth;
}

.sans-serif {
  font-family: 'Lato', 'Lato Fallback', Arial, sans-serif;
}

.sans-serif.font-extralight {
  font-weight: 200;
}

.tracking-wide {
  letter-spacing: 0.1em;
}

.tracking-wider {
  letter-spacing: 0.2em;
}

.tracking-widest {
  letter-spacing: 0.5em;
}

.leading-loose {
  line-height: 1.75;
}

input,
textarea {
  border-radius: 4px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.min-height-bio {
  min-height: 38em;
}

@media (min-width: 768px) {
  .min-height {
    min-height: 49em;
  }

  .min-height-bio {
    min-height: 50em;
  }
}
